<!-- vacations/edit.html.erb -->

<h2>Edit a Vacation</h2>

<%= form_for(@vacation) do |f| %>
    <%= f.label :name, "Name:" %><br/>
    <%= f.text_field :name %><br/>
    <%= f.label :start_date, "Start Date" %><br/>
    <%= f.datetime_select :start_date %><br/>

    <%= f.label :end_date, "End Date"%><br/>
    <%= f.datetime_select :end_date %><br/>

    <%= f.submit "Edit Vacation Details"%>
<% end %>

<div class="mini-nav">
    <%= link_to "Cancel", vacations_path %>
</div>