<!-- create a new vacation -->
<!-- vacations/new.html.erb -->

<h2>Create A New Vacation</h2>

<%= form_for @vacation do |f| %>
    <%= f.label :name, "Trip Name" %><br/>
    <%= f.text_field :name %><br/>

    <%= f.label :start_date, "First Day Of Trip" %><br/>
    <%= f.datetime_select :start_date %><br />
    
    <%= f.label :end_date, "Last Day of Trip" %><br/>
    <%= f.datetime_select :end_date %><br />

    <%= f.submit "Submit" %>
<% end %>

<div class="mini-nav">
<%= link_to "Cancel", vacations_path %>
</div>

