<!--vacations/show.html.erb -->

<h2><%= @vacation.name %></h2>
<p>
<% if @vacation.start_date? %>
    <%= @vacation.start_date %>
    <%= @vacation.end_date %>
    <% @sorted_legs.each do |leg| %>
        <% binding.pry %>
        <h2><%= link_to "#{Place.find_by(:id=>leg.departure_place_id).city_name} -
            #{Place.find_by(:id => leg.arrival_place_id).city_name}", leg_path(leg) %></h2>
    <% end %>
<% end %>
</p>

<%= link_to "Delete Vacation", vacation_path(@vacation), method: :delete %>
<%= link_to "Edit Vacation", edit_vacation_path(@vacation) %>
<%= link_to "Add a Leg", new_leg_path %>