vacations/show.html.erb
<%= render 'users/nav'%>

<h1><%= @vacation.name %></h1>
<p>
<% if @vacation.start_date? %>
    <%= @vacation.start_date %>
    <%= @vacation.end_date %>
<% end %>
</p>

<%= link_to "Delete", vacation_path(@vacation), method: :delete %>
<%= link_to "Edit", edit_vacation_path(@vacation) %>
<%= link_to "Create New Leg", new_vacation_leg_path(@vacation) %>