<!--legs/edit-->

<h2>Edit Leg</h2>

<%= form_for @leg do |f| %>
    <%= f.label :departure_id, "Departure City: "%><br/>
    <%= f.collection_select :departure_id, @destinations, :id, :city_name, {:selected => @leg.departure_id} %><br/>
    <%= f.label :destination_id, "Destination:" %><br/>
    <%= f.collection_select :destination_id, @destinations, :id, :city_name, {:selected => @leg.destination_id} %><br/>
    <%= f.label :leg_num, "Which Leg:" %><br/>
    <%= f.number_field :leg_num, min: 1, :value => @leg.leg_num %><br/>
    <%= f.label :vacation_id, "Vacation:" %><br/>
    <%= f.collection_select :vacation_id, current_user.vacations, :id, :name, {:selected => @leg.vacation_id} %><br/>
    <%= f.submit "Submit Leg" %>
<% end %>

<div class="mini-nav">
    <%= link_to "Cancel", leg_path(@leg) %>
</div>