legs/show
<%= render 'users/nav'%>

<h1>
<%= @departure_place_name %> - <%= @arrival_place_name %> Leg</h1>
<div>
Back to <%= link_to @leg.vacation.name, vacation_path(@leg.vacation) %> | 
<%= link_to "Edit Leg", edit_leg_path(@leg) %> | 
<%= link_to "Add Leg", new_leg_path %> | 
<%= link_to "Delete Leg", leg_path(@leg), method: :delete %>
</div>


<h3>Leg Itinerary</h3>

<% @itinerary_items.each do |item| %>
    <p>
    Day <%= item.day_of_trip %><br/>
    Activity Time: <%= item.time %><br/>
    Type of Activity: <%= item.type_of_activity %><br/>
    <% if item.type_of_activity == "Event" %>
        Attraction: <%= ApplicationHelper.attraction(item).name %><br/>
    <% end %>
    <%= link_to "Edit Item", edit_leg_itinerary_item_path(@leg, item) %>
    <%= link_to "Delete Item", itinerary_item_path(item), method: :delete %><br/>
    </p>
<% end %>
<p>
<%= link_to "Add Itinerary Item", new_leg_itinerary_item_path(@leg) %><br/>
</p>