<!--legs/:id/itinerary_items/:id-->

<h2>Itinerary Item Information</h2>

<div class="content">
Day of Trip: <%= @itinerary_item.day_of_trip %><br/>
Activity Time: <%= @itinerary_item.time %><br/>
Type of Activity: <%= @itinerary_item.type_of_activity %><br/>
<% if @itinerary_item.type_of_activity == "Event" %>
    Attraction: <%= ApplicationHelper.attraction(@itinerary_item).name %><br/>
<% end %>
</div>

<%= link_to "View All Items", leg_path(@itinerary_item.leg) %><br/>
