<!DOCTYPE html>
<html>
  <head>
    <title>TravelApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
    .alert {
      color: red;
    }
    .field_with_errors {
      color: red;
    }
    .wave {
      height:50;
      font-family: Allura, Cursive;
      color: black;
      Filter: Wave(Add=0, Freq=1, LightStrength=10, Phase=20, Strength=20)
    }
    </style>
  </head>

  <body>
    <div class="header">
    <p class="wave">travel</p>
    </div>

    <div class="container">
    <!-- instructions to add flash notice and alert below from Devise -->
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert.html_safe if alert.present? %></p>
    </div>
    <%= yield %>
  </body>
</html>
