<!DOCTYPE html>
<html>
  <head>
    <title>TravelApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Allura&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oxygen+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="styles/style.css">
  </head>

  <body>
    <div class="wrapper">
      <div class="container">
        <%= render 'layouts/nav' %>
        <div class="header">
          <div class="logo">
            <span class="wave t">t</span>
            <span class="wave r">r</span>
            <span class="wave a">a</span>
            <span class="wave v">v</span>
            <span class="wave e">e</span>
            <span class="wave l">l</span>
            <p id="tag">S T A R T  &nbsp;T O  <span id="arrow">>></span></p>
            <p id="tag2"> F I N I S H</p>
          </div>
        </div>
        <%= render 'users/nav'%>
        <div class="main">
          <!-- instructions to add flash notice and alert below from Devise -->
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert.html_safe if alert.present? %></p>
          <%= yield %>
        </div>
      </div>
  </body>
</html>
