<!-- attractions/edit -->

<h2>Edit Attraction</h2>

<div class="content">
<%= form_for @attraction do |f| %>
    <%= f.hidden_field :destination_id, value: @destination.id %>
    <%= f.label :name, "Name" %> 
    <%= f.text_field :name %><br/>
    <%= f.label :admission, "Admission" %> 
    <%= f.number_field :admission %><br/>
    <%= f.submit "Edit Attraction" %>
<% end %>
</div>

<div class="mini-nav">
    <%= link_to "Cancel", destination_attraction_path(@destination, @attraction) %>
</div>