<!--attractions/index-->

<h1><%= link_to @destination.city_name, destination_path(@destination) %></h1>

<h2>Attractions</h2>

<div class="content">
<% @attractions.each do |attraction| %>
    <%= link_to attraction.name, destination_attraction_path(@destination, attraction) %><br/>
<% end %>
</div>


<div class="mini-nav">
<%= link_to "< Back to All Destinations", destinations_path, :class => "mini-nav" %> |
<%= link_to "Attractions < $20", under20_path(@place), :class => "mini-nav" %> | 
<%= link_to "Add a new Attraction", new_destination_attraction_path(@destination), :class => "mini-nav" %>
</div>