<!-- attractions/new -->

<h2>Add A New Attraction</h2>

<div class="content">
<%= form_for @attraction do |f| %>
    <%= f.hidden_field :destination_id, value: @attraction.destination_id %>
    <%= f.label :name, "Name" %><br/>
    <%= f.text_field :name %><br/>
    <%= f.label :admission, "Admission" %><br/>
    <%= f.number_field :admission %><br/>
    <%= f.submit "Submit Attraction" %>
<% end %>
</div>

<div class="mini-nav">
    <%= link_to "Cancel", destination_path(@attraction.destination) %>
</div>
