<!-- attractions/show -->

<h2><%= @attraction.name %></h2>

<p>
Admission: <%= @attraction.admission == 0 ? "Free" : "$#{@attraction.admission}" %>
</p>
<%= link_to "< Back to #{@destination.city_name}", destination_path(@destination) %> | 
<%= link_to "Edit", edit_destination_attraction_path(@destination, @attraction) %> | 
<%= link_to "Delete", attraction_path(@attraction), method: :delete %>